*{
    overflow: hidden;
    margin:0
}

:root{
    --color-primary: rgb(11, 255, 226);
    --color-secondary: rgb(10, 27, 59)
}
.home{
    width:100vw;
    height: 100vh;
    background-color: rgb(10, 27, 59);
}

.navbar{
    height: 80px;
    width: 100vw;
    color:rgb(11, 255, 226);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

}

ul{
    display: flex;
}

ul li{
    margin: 0 17px;
    color: var(--color-secondary);
    padding: 9px 14px;
    background-color: var(--color-primary);
    font-size: 19;
    border-radius: 10px;
    border: 3px solid var(--color-primary)
}

ul li:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    transition: 0.4s;
    border: 3px solid var(--color-primary);
    letter-spacing: 0.03cm;
}

.home{
 
}
.hero{
    width: 100vw;
    height:100vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

